*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: black;
}

.restaurant-list {
  padding-top: 50px;
  line-height: 100%;
}

.restaurant-list h1 {
  font-size:2.1em;
  color:#ff69b4;
  padding-bottom: 10px;
}

.restaurant-list h3 {
  font-size:1.3em;
  color:#000;
}

.location {
  width: 100%;
  padding: 10%;
  background-color: grey;
  border: 1px solid black;
  margin: 1% 5;
  }

.location:hover {
  background-color: #ffff00;
    }

.content {
  width: 95%;
  float: left;
  }

.arrow {
  width: 5%;
  float: right;
  }
